{% extends "layout.html" %}

{% block content%}
<div class="col-md-12 mt-5">
    <div class="card card-body bg-light">
        <h4 class="card-header">{{title}}</h4>
        <ul class="list-group">
        {% for skill in skills%}
                <li class="list-group-item">{{skill}}</li>
        {%endfor%} 
        </ul> 
        
        <a class="btn btn-danger mt-3" href="{{url_for('index')}}">Back</a>
        <a class="btn btn-danger mt-3" href="{{url_for('index')}}">Edit</a>

        </div>
        
    </div>
</div>


{% endblock content%} mt-5